table {
  width: 100%;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
}

.pointer {
  cursor: pointer;
}

.title-section {
  margin-top: 10px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
